@charset "utf-8";

#content{
	width:805px;
	height:460px;
	border:1px solid #666;
	float:left;
	padding-left:1px;
	border-radius: 3px 3px 3px 3px;
	overflow: auto;
	margin-top:6px;
}
#space{
	height:14px;	
}

}
#text{
	
}